.rst-content .right.sidebar {
    margin: -3.2em 4px 4px 0px;
}

.toc-h span:nth-of-type(n + 3) {
    font-size: 80%;
    color: #aaaaaa;
}

.toc-h span:nth-of-type(3):before {
    content: " - ";
}

.section-header small {
    display: none;
}

a[href^="http://"],
a[href^="https://"] {
    font-style: italic;
    text-decoration: underline;
}

a[href^="#--"] {
    color: #404040;
    cursor: not-allowed;
    text-decoration: underline dotted;
}

table.no-border code {
    font-size: 1em;
    padding: 0;
    background-color: transparent;
    border: none;
    white-space: nowrap;
}

.rst-content h1:has([data-attribute]),
.rst-content h2:has([data-attribute]),
.rst-content h3:has([data-attribute]),
.rst-content h4:has([data-attribute]),
.rst-content h5:has([data-attribute]),
.rst-content h6:has([data-attribute]),
.rst-content td:has([data-attribute]),
.rst-content tr:has([data-attribute]) td {
    padding-top: 1.5em;
}

[data-attribute] {
    position: absolute;
}

[data-attribute]:after {
    content: attr(data-attribute);
    position: absolute;
    top: -3em;
    white-space: nowrap;
    font-size: 80%;
    color: #8a8a8a;
}

span.summary:not(:first-child) {
    display: block;
    margin-top: 0.5em;
}

div.description {
    margin-bottom: 24px;
}

div.description h1,
div.description h2,
div.description h3,
div.description h4,
div.description h5,
div.description h6 {
    background: transparent;
}
